
KERNEL=="sd[a-z]", SUBSYSTEMS=="usb",ATTRS{idVendor}=="090c", ATTRS{idProduct}=="1000", ACTION=="add", RUN+="/bin/systemctl start usb-mount@%k.service"
KERNEL=="sd[a-z]", SUBSYSTEMS=="usb",ATTRS{idVendor}=="090c", ATTRS{idProduct}=="1000", ACTION=="remove", RUN+="/bin/systemctl stop usb-mount@%k.service"
